<head>
  <meta charset="UTF-8"/>
  <title>geographic subway powered by Tokyo Metro</title>
  <script language="javascript" src="javascripts/p5.min.js"></script>
  <!--<script language="javascript" src="js/p5.dom.js"></script>-->
  <!-- <script language="javascript" src="js/p5.sound.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <script language="javascript" src="javascripts/data2.js"></script>
  <script language="javascript" src="javascripts/railway.js"></script>
  <script language="javascript" src="javascripts/train.js"></script>
  <script language="javascript" src="javascripts/main.js"></script>
  <style> body {padding: 0; margin: 0; background-color: black;} </style>
</head>
<body>
</body>
