<head>
  <meta charset="UTF-8"/>
  <title>geographic subway powered by Tokyo Metro</title>
  <script language="javascript" src="javascripts/jquery-1.11.1.min.js"></script>
  <script language="javascript" src="javascripts/jquery.animate-colors-min.js"></script>
  <script language="javascript" src="javascripts/p5.min.js"></script>
  <!--<script language="javascript" src="js/p5.dom.js"></script>-->
  <!-- <script language="javascript" src="js/p5.sound.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>
  <script language="javascript" src="javascripts/data2.js"></script>
  <script language="javascript" src="javascripts/railway.js"></script>
  <script language="javascript" src="javascripts/train.js"></script>
  <script language="javascript" src="javascripts/main.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet"/>
</head>
<body>
    <div id="menu">
      <h2 id="title">METRO GRAPHIC</h2>
      <small>powered by Tokyo Metro</small>
      <ul id="railway">
        <li>
          <a href="odpt.Railway:TokyoMetro.Ginza" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#ff9500" />
            </svg>
          銀座線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Marunouchi" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#f62e36" />
            </svg>
          丸の内線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Hibiya" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#b5b5ac" />
            </svg>
          日比谷線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Tozai" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#009bbf" />
            </svg>
          東西線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Chiyoda" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#00bb85" />
            </svg>
          千代田線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Yurakucho" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#c1a470" />
            </svg>
          有楽町線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Hanzomon" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#8f76d6" />
            </svg>
          半蔵門線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Namboku" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#00ac9b" />
            </svg>
          南北線
          </a>
        </li>
        <li>
          <a href="odpt.Railway:TokyoMetro.Fukutoshin" class="select">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
		 viewBox="0 0 10 10" width="10" height="10">
              <rect x="0" y="1" width="9" height="9" fill="#9c5e31" />
            </svg>
          副都心線
          </a>
        </li>
	<li>
	-
	</li>
	<li>
          <a href="odpt.Railway:TokyoMetro.Fukutoshin" id="fullscreen">
          拡大図
          </a>
	</li>
      </ul>
    </div>
</body>
